// Font paths
// -------------------------

@font-face {
  font-family: "UD";
  src: url("../fonts/UD.eot");
  src: url("../fonts/UD.eot?#iefix") format("embedded-opentype"),
  url("../fonts/UD.woff2") format("woff2"),
  url("../fonts/UD.woff") format("woff"),
  url("../fonts/UD.ttf") format("truetype"),
  url("../fonts/UD.svg#font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "UD";
    src: url("../fonts/UD.svg#UD") format("svg");
  }
}
