/**
 * @note I got a bit tired of the entire tailwind css. 
 * So here I will put everything that I find too taxing to implement with tailwind
 */

a {
    color: var(--link);
}

main, .main-bg {
    background: rgba(250, 250, 250, 1);
}

.label-color {
    color: var(--label);
}
nav > a {
    font-weight: 400;
    transition: 0.4s;
}
a[aria-current="page"] {
    background: aliceblue;
    font-weight: 600;
    border-radius: 3px;
    transition: 0.4s;
}

.input-box-custom:has(input:focus-visible) {
    border-color: hsl(var(--primary));
    transition: .3s;
}

.input-box-custom:has(input:focus-visible) i {
    color: hsl(var(--primary));
    transition: .3s;
}

.input-box-custom input:focus-visible, 
.input-box-custom input:focus, 
.input-box-custom .focus-visible\:ring-offset-2:focus-visible {
    border: none;
    --tw-ring-offset-width: 0;
}