.critical {
    background: rgba(255, 78, 78, 1);
}

.warning {
    background: rgba(228, 175, 46, 1);
}

.danger {
    background: rgba(230, 109, 71, 1);
}

.info {
    background: rgba(50, 170, 237, 1);
}